.container {
  height: 100%;
  overflow: auto;
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding-left: 1rem;
  padding-right: 1rem;
}

mat-card {
  margin: 1rem;
  width: 16rem;
}

.weather-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
